In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default='iframe'

In [2]:
df = pd.read_csv("./users.csv")

C:\Users\dti Digital\AppData\Local\Temp\ipykernel_4884\3757767376.py:1: DtypeWarning:

Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.

In [7]:
df

,handle,email,vkId,openId,firstName,lastName,country,city,organization,contribution,rank,rating,maxRank,maxRating,lastOnlineTimeSeconds,registrationTimeSeconds,friendOfCount,avatar,titlePhoto
0,------------------------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aktobe KTL,0,newbie,1172.0,pupil,1399.0,1601121531,1451119991,1,https://userpic.codeforces.org/no-avatar.jpg,https://userpic.codeforces.org/no-title.jpg
1,----------------------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,pupil,1370.0,pupil,1370.0,1583237730,1555168540,1,https://userpic.codeforces.org/no-avatar.jpg,https://userpic.codeforces.org/no-title.jpg
2,-------------------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,pupil,1322.0,specialist,1423.0,1620821408,1575083367,0,https://userpic.codeforces.org/no-avatar.jpg,https://userpic.codeforces.org/no-title.jpg
3,---------------,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,newbie,783.0,pupil,1367.0,1600105080,1527792619,1,https://userpic.codeforces.org/no-avatar.jpg,https://userpic.codeforces.org/no-title.jpg
4,----------,NaN,NaN,NaN,Fedor,Ushakov,NaN,NaN,NaN,0,master,2188.0,international master,2320.0,1699555096,1458406661,187,https://userpic.codeforces.org/399686/avatar/5...,https://userpic.codeforces.org/399686/title/17...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653210,yelurisaiprasanth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,newbie,1062.0,newbie,1062.0,1699335374,1684502487,6,https://userpic.codeforces.org/3255680/avatar/...,https://userpic.codeforces.org/3255680/title/f...
653211,yelurusrinivas79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,newbie,825.0,newbie,825.0,1669450182,1646652036,0,https://userpic.codeforces.org/no-avatar.jpg,https://userpic.codeforces.org/no-title.jpg
653212,yelvsu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,pupil,1287.0,specialist,1474.0,1596074392,1562114790,0,https://userpic.codeforces.org/1186509/avatar/...,https://userpic.codeforces.org/1186509/title/a...
653213,yelwhiltelow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,pupil,1217.0,pupil,1229.0,1710255507,1672323085,8,https://userpic.codeforces.org/2994269/avatar/...,https://userpic.codeforces.org/2994269/title/8...
653214,Yelzhas_AE,NaN,NaN,NaN,Yelzhas,Sagidulla,Kazakhstan,Shymkent,KBTU,0,pupil,1278.0,specialist,1418.0,1587157644,1384444616,12,https://userpic.codeforces.org/146193/avatar/7...,https://userpic.codeforces.org/146193/title/4a...

## Countries

\# TO-DO: improve graphs' title and scale

In [3]:
countries = df['country'].value_counts().reset_index()
countries.columns = ['Country', 'Count']
countries['LogCount'] = np.log2(countries['Count'])
countries

              Country  Count   LogCount
0               India  66532  16.021761
1               China  22095  14.431432
2          Bangladesh  15412  13.911766
3              Russia  12823  13.646446
4               Egypt   8805  13.104107
..                ...    ...        ...
244  Marshall Islands      1   0.000000
245          Anguilla      1   0.000000
246  Saint Barthelemy      1   0.000000
247            Brunei      1   0.000000
248           Eritrea      1   0.000000

[249 rows x 3 columns]

In [4]:
fig = px.choropleth(
    countries,
    locations='Country',
    locationmode='country names',
    color='Count',
    hover_name='Country',
    color_continuous_scale=px.colors.sequential.Plasma
)

fig.update_layout(
    title_text='Choropleth Map of Countries by Occurrences',
    geo=dict(showframe=False, showcoastlines=False, projection_type='equirectangular')
)

fig.show()

In [5]:
fig = px.choropleth(
    countries,
    locations='Country',
    locationmode='country names',
    color='LogCount',
    hover_name='Country',
    color_continuous_scale=px.colors.sequential.Plasma
)

fig.update_layout(
    title_text='Choropleth Map of Countries by Logarithmic Occurrences',
    geo=dict(showframe=False, showcoastlines=False, projection_type='equirectangular')
)

fig.show()

## Universities

In [6]:
organizations = df['organization'].value_counts().reset_index()
organizations.columns = ['Organization', 'Count']
organizations.head(20)

                                         Organization  Count
0                                         IIT Roorkee   1605
1                                    IIT BHU Varanasi   1472
2                                      IIIT Hyderabad   1349
3                      Delhi Technological University   1297
4                                       IIT Kharagpur   1112
5                                        IIT Guwahati   1035
6                                          IIT Kanpur   1016
7                                           IIT Delhi    860
8                        BITS Pilani Hyderabad Campus    760
9                                           IIT Patna    723
10                                   Jiangly Fan Club    700
11                                     IIIT Allahabad    662
12                                         IIT Indore    598
13  Rajshahi University of Engineering and Technology    571
14                          FCIS Ain Shams University    565
15                                    ITMO University    550
16              BIRLA INSTITUTE OF TECHNOLOGY,  MESRA    547
17                                         IIIT Delhi    542
18                                   IIT(ISM) DHANBAD    537
19              Indian Institute of Technology Madras    537